:root {
  --amber-400: #fbbf24;
  --amber-700: #b45309;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --cyan-400: #22d3ee;
  --fuchsia-400: #e879f9;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-700: #374151;
  --gray-900: #111827;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --indigo-400:  #818cf8;
  --indigo-600: #534ab7;
  --lime-300: #bef264;
  --lime-400: #a3e635;
  --orange-500: #f97316;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --sky-400: #38bdf8;
  --slate-400: #94a3b8;
  --yellow-300: #fde047;
  --yellow-400: #facc15;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  --bg: #fff;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --text: var(--gray-900);
  --border: var(--gray-300);

  font: 1vmax var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
