@import "./base.css";

@font-face {
  font-family: 'Shantell Sans';
  src: url('./fonts/Shantell_Sans-Informal_Regular.woff2') format('woff2');
}

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  font-size: 2vmin;
  font-family: var(--sans);
  --handwritten: 'Shantell Sans';
}

body, html {
  user-select: none;
  background-color: var(--slate-700);
}